<div class="row border">
    <div class="col-md-6">
    <img src="<%=source_img_url%>" class="img-fluid" alt="Source image">
    </div>
    <div class="col-md-6">
        <img src="<%=target_img_url%>" class="img-fluid" alt="Target image">
    </div>
</div>
<div class="row border">
    <div class="col-md-12">
        <img src="<%=diff_img_url%>" class="img-fluid" alt="Diff imaget">
    </div>
</div>